body {
    margin: 0;
    background-image: linear-gradient(rgb(86, 188, 219), rgba(8, 18, 151, 0.595));
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-family: super-comic, Arial, Helvetica, sans-serif;
    width: 100%;
}

h1 {
    font-size: 4em;
    margin: 0;
    cursor: default;
    padding: .2em;
    text-shadow: rgba(8, 18, 151, 0.595) 5px 5px 0;
}

.player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    border-radius: 12px;
    border-bottom: rgba(8, 18, 151, 0.595) 3px solid;
}

.player-container p {
    font-size: 2.3em;
    margin: 0 0 .3em 0;
    text-shadow: rgba(8, 18, 151, 0.595) 4px 4px 0;
}

.player-container img, .player-two-icons img {
    height: 3.2em;
    cursor: pointer;
    padding-bottom: .5em;
}

.player-two-icons {
    display: flex;
    gap: 1em;
}

@media(max-width: 600px) {
    h1 {
        font-size: 1.1em;
        text-shadow: rgba(8, 18, 151, 0.595) 2px 2px 0;
    }
    .player-container {
        margin-top: .3em;
        padding: .3em;
    }
    .player-container p {
        font-size: .9em;
        margin: 0;
        text-shadow: rgba(8, 18, 151, 0.595) 2px 2px 0;
    }
    .player-container img, .player-two-icons img {
        height: 1.7em;
        padding: 0;
    }
}

@font-face {
    font-family: super-comic;
    src: url(comic.ttf);
}